html,
body {
    height: 100%;
}

.slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-align: center;
}

#header {
	background-image: url(../img/header/header.jpg);
}

#header .content {
	margin: 0 auto;
	position: relative;
	top: 30%;
	width: 60%;
}
#header .content>img{
	src:url("./img/header/header_logo.png");
	/*height: ;*/
}
#header .content .title {
	width: 404px;
	height: 118px;
}

#header .content .slogan {
	color: white;
	font-size: 30px;
	font-weight: 800;
	margin-top: 30px;
}

#header .content .introduce {
	margin-top: 40px;
	height: 100px;
	display: inline-block;
}

#header .content .introduce .introduceBtn {
	padding-top: 15px;
	margin-left: 30px;
	float: left;
	width: 100px;
	height: 100%;
	filter: alpha(opacity:50);
	background-color: #60616e;
	background-color: rgba(96, 97, 110, 0.5);
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}
#header .content .introduce .introduceBtn:first-child{
	margin-left:0px;
}

#header .content .introduce .introduceBtn:hover {
	cursor: pointer;
	background-color: #00A0EA !important;
	background-color: rgba(0, 160, 234, 1);
	filter: alpha(opacity:100);/*for ie*/
}

#header .content .introduce .introduceBtn>p {
	letter-spacing: 2px;
	color: white;
	padding-top: 5px;
	font-weight: 800;
}

/*background opactiy hack for ie6,7,8*/
@media \0screen\,screen\9 {
	/* 只支持IE6、7、8 */
	.introduceBtn {
		background-color: #60616e !important;
		filter: Alpha(opacity=50);
		position: static;  IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 
		*zoom: 1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
	}

	.introduceBtn>p,
	.introduceBtn>img {
		position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
	}
}

#whoAmI{
	background-image: url(../img/whoAmI/bg.jpg);
}

#whoAmI .content {
	margin: 0 auto;
	position: relative;
	width: 60%;
	height: 100%;
}

#whoAmI .content .upper,
#whoAmI .content .down{
	height: 50%;
}
#whoAmI .content h2{
	padding-top: 13%;
	color: white;
	font-weight: 800;
	margin-bottom: 25px;
}
#whoAmI .content p{
	margin-top: 25px;
	color: white;
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 20px;
}
#whoAmI .content .introduce{
	margin-top: 20px;
	height: 100px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
@media screen and (max-width: 1024px){
	#whoAmI .content .introduce .introduceSection>p{
		font-size: 16px;
	}
	#whoAmI .content .introduce .introduceSection>h3{
		font-size: 24px;
	}
}
#whoAmI .content .introduce .introduceSection{
	float: left;
}
#whoAmI .content .introduce .introduceSection img{
	width: 120px;
	height: 100px;
}
#whoAmI .content .introduce .introduceSection:first-child{
	padding-left: 0px;
}
#whoAmI .content .introduce .introduceSection:last-child{
	padding-right: 0px;
}
#whoAmI .content .introduce .introduceSection>p{
	color: black;
}
#whoAmI .content .introduce .introduceSection>h3{
	color: black;
	font-size: 28px;
	font-weight: 900;
}

#whatTodo{
	background-image: url(../img/whatTodo/bg.jpg);
	width: 100%;
}
#whatTodo .content {
	margin: 0 auto;
	position: relative;
	/*top: 18%;*/
	width: 60%;
	height: 100%;
}
#whatTodo .content .upper,
#whatTodo .content .down{
	height: 50%;
}
#whatTodo .content h2{
	padding-top: 13%;
	color: white;
	font-weight: 800;
	margin-bottom: 25px;
}
#whatTodo .content p{
	margin-top: 25px;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 800;
}
#whatTodo .content .introduce{
	height: 100px;
	position: absolute;
	width: 100%;
	margin-top: 20px;
}
@media screen and (min-width: 1377px) {
	#whatTodo .content .introduce{
		/*margin-top: 200px;*/
	}
}

@media screen and (max-width: 1024px){
	#whatTodo .content .introduce .introduceSection>p{
		font-size: 15px;
	}
}
#whatTodo .content .introduce .introduceSection{
	float: left;
}
#whatTodo .content .introduce .introduceSection:first-child{
	padding-left: 0px !important;
}
#whatTodo .content .introduce .introduceSection:last-child{
	padding-right: 0px !important;
}
#whatTodo .content .introduce .introduceSection>p{
	color: black;
}

#whatTodo .content .introduce .introduceSection img{
	width: 100px;
	height: 100px;
}

@media screen and (max-width: 1376px) {
	#whatTodo .content .introduce .introduceSection img{
		width: 80px;
		height: 80px;
	}
}
#howTodo{
	background-image: url(../img/howTodo/bg.jpg);
	width: 100%;
}

#howTodo .content {
	margin: 0 auto;
	position: relative;
	top: 18%;
	width: 60%;
}
#howTodo .content .upper,
#howTodo .content .down{
	height: 50%;
}
#howTodo .content h2{
	color: white;
	font-weight: 800;
	margin-bottom: 25px;
}
#howTodo .content p{
	margin-top: 25px;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 800;
}

#howTodo .content .introduce{
	margin-top: 25%;
	height: 100px;
	width: 100%;
}

#howTodo .content .introduce>img{
	width: 100%;
	height: 100px;
}
#contact{
	background-image: url(../img/contact/bg.jpg);
	width: 100%;
}
#contact .content {
	margin: 0 auto;
	position: static;
	padding-top: 10%;
	width: 60%;
	height: 95%;
}
#contact .content h2{
	color: white;
	font-weight: 800;
	margin-bottom: 25px;
}
#contact .content>p{
	font-weight: 800;
}
#contact .content p{
	margin-top: 25px;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}

#contact .content .introduce{
	margin-top: 100px;
	height: 150px;
	display: inline-block;
	width: 100%;
}

#contact .content .introduce .introduceBtn {
	padding-top: 20px;
	float: left;
	height: 100%;
	filter: alpha(opacity:50);
	background-color: rgb(96, 97, 110);
	background-color: rgba(96, 97, 110, 0.5);
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

#contact .content .introduce .introduceBtn img{
	width: 80px;
	height: 80px;
}
#contact .content .introduce .introduceBtn:first-child{
	margin-left:0px !important;
}
#contact .content .introduce .introduceBtn:last-child{
	margin-right:0px !important;
}
#contact .content .introduce .introduceBtn>p {
	margin-top: 10px;
	letter-spacing: 2px;
	color: white;
	font-size: 16px;
}
#contact .footer{
	text-align: center;
	width: 100%;
	height: 5%;
	filter: alpha(opacity:50);
	background-color: rgb(1, 1, 1);
	background-color: rgba(1, 1, 1, 0.5);
}
#contact .footer span{
	font-size: 18px;
	color: gray;
	line-height: 2.5;
	letter-spacing: 3px;
}
/*silder*/
.sider {
	position: fixed;
	right: 10px;
	top: 40%;
	z-index: 99;
	width: 27px;
	text-align: center;
}

.sider img {
	opacity: 0.8;
	cursor: pointer;
}

.sider img:hover {
	opacity: 1;
}
.next{
	bottom: 50px;
	position: fixed;
	left: 48%;
	width: 50px;
	height: 30px;
}
.next>img{
	cursor: pointer;
}