html,
body {
	font-family: "Microsoft YAHEI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	.slider {
		background-size: cover !important;
		background: no-repeat center center;
		height: 100% ;
		width: 100%;
		text-align: center;
	}
	#header {
		background-image: url(/dist/img/header/header.jpg);
		.content {
			margin: 0 auto;
			position: relative;
			//top: 30%;
			width: 800px;
			.title {
				width: 404px;
				height: 118px;
			}
			.slogan {
				color: white;
				font-size: 30px;
				margin-top: 30px;
			}
			.introduce {
				margin-top: 40px;
				height: 100px;
				display: inline-block;
				.introduceBtn {
					padding-top: 15px;
					margin-left: 30px;
					float: left;
					width: 100px;
					height: 100%;
					background-color: #60616e;
					background-color: rgba(96, 97, 110, 0.5);
					transition: background-color 0.5s;
					-moz-transition: background-color 0.5s;
					-webkit-transition: background-color 0.5s;
					-o-transition: background-color 0.5s;
					&:first-child {
						margin-left: 0;
					}

					&:hover {
						cursor: pointer;
						background-color: #00A0EA !important;
						background-color: rgba(0, 160, 234, 1);
						filter: Alpha(opacity=100);
					}
					& > p {
						letter-spacing: 2px;
						color: white;
						padding-top: 5px;
					}
				}

			}

		}
	}
	#whoAmI {
		background-image: url(/dist/img/whoAmI/bg.jpg);
		.content {
			margin: 0 auto;
			position: relative;
			width: 940px;
			height: 100%;
			.upper,
			.down {
				height: 50%;
			}
			h2 {
				padding-top: 18.5%;
				@media screen and (max-height: 800px) {
					padding-top: 11.5%;
				}
				color: white;
				font-weight: 800;
				margin-bottom: 32px;
			}
			p {
				margin-top: 25px;
				color: white;
				letter-spacing: 2px;
				font-size: 20px;
			}
			.introduce {
				margin-top: 20px;
				text-align: center;
				display: inline-block;
				width: 100%;
				.introduceSection {
					float: left;
					@media screen and (max-width: 1024px) {
						& > p {
							font-size: 16px;
						}

						& > h3 {
							font-size: 24px;
						}
					}
					& > p {
						color: black;
					}
					& > h3 {
						color: black;
						font-size: 28px;
						font-weight: 900;
					}
					img {
						width: 120px;
						height: 100px;
					}
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}

			}

		}
	}
	#whatTodo {
		background-image: url(/dist/img/whatTodo/bg.jpg);
		width: 100%;
		.content {
			margin: 0 auto;
			position: relative;
			width: 940px;
			height: 100%;
			.upper,
			.down {
				height: 50%;
			}
			h2 {
				padding-top: 18.5%;
				@media screen and (max-height: 800px) {
					padding-top: 11.5%;
				}
				color: white;
				font-weight: 800;
				margin-bottom: 25px;
			}
			p {
				margin-top: 25px;
				color: white;
				letter-spacing: 2px;
				font-size: 20px;
			}
			.upper{
				p{
					margin-top:16px;
					line-height: 40px;
				}
			}
			.introduce {
				height: 100px;
				position: absolute;
				width: 100%;
				margin-top: 40px;
				.introduceSection {
					float: left;
					& > P {
						color: black;
						font-weight: normal;
						@media screen and (max-width: 1024px) {
							& {
								font-size: 15px;
							}
						}
					}
					&:first-child {
						padding-left: 0 !important;
					}
					&:last-child {
						padding-right: 0 !important;
					}
					img {
						width: 100px;
						height: 100px;
						@media screen and (max-width: 1376px) {
							& {
								width: 80px;
								height: 80px;
							}
						}
					}
				}
			}

		}
	}
	#howTodo {
		background-image: url(/dist/img/howTodo/bg.jpg);
		width: 100%;
		.content {
			margin: 0 auto;
			position: relative;
			width: 940px;
			height: 100%;
			.upper,
			.down {
				height: 50%;
			}
			h2 {
				color: white;
				font-weight: 800;
				margin-bottom: 25px;
				padding-top: 18.5%;
				@media screen and (max-height: 800px) {
					padding-top: 11.5%;
				}
			}
			p {
				margin-top: 18px;
				color: white;
				letter-spacing: 2px;
				font-size: 20px;
			}
			.upper{
				p {
					line-height:40px;
				}
			}
			.introduce {
				margin-top: 13%;
				height: 100px;
				width: 100%;
				>img {
					width: 100%;
					height: 100px;
				}
				.imgDesc{
					padding-left:5px;
					text-align: left;
					font-size: 28px;
					font-weight: 800;
					span.connect,
					span.law{
						margin-left: 340px;
					}
				}
			}
		}
	}
	#contact {
		background-image: url(/dist/img/contact/bg.jpg);
		width: 100%;
		.content {
			margin: 0 auto;
			position: static;
			//padding-top: 10%;
			width: 942px;
			//height: 95%;
			@media all and (max-height: 800px){
				height: 93.5%;
				//padding-top: 4%;
			}
			h2 {
				color: white;
				font-weight: 800;
				margin-bottom: 25px;
			}

			p {
				line-height:40px;
				margin-top: 18px;
				color: white;
				letter-spacing: 2px;
				font-size: 20px;
			}
			.introduce {
				margin-top: 50px;
				//height: 200px;
				//display: inline-block;
				width: 100%;
				>p{
					opacity: 0.6;
					margin-top:0;
				}
				@media all and (max-height: 830px){
					margin-top: 15px;
				}
				.introduceBtn {
					padding-top: 20px;
					//float: left;
					height: 100%;
					//background-color: rgb(96, 97, 110);
					//background-color: rgba(96, 97, 110, 0.5);
					transition: background-color 0.5s;
					-moz-transition: background-color 0.5s;
					-webkit-transition: background-color 0.5s;
					-o-transition: background-color 0.5s;
					img {
						width: 330px;
						height: 330px;
						//&:first-child {
						//	margin-left: 0 !important;
						//}
						//&:last-child {
						//	margin-right: 0 !important;
						//}
					}
					#mailTo,
					#mailToText{
						cursor: pointer;
					}
					>p {

						margin-top: 10px;
						letter-spacing: 2px;
						color: white;
						font-size: 16px;
					}
				}
			}
		}
		.footer {
			position: absolute;
			bottom:0;
			text-align: center;
			width: 100%;
			height: 5%;
			@media all and (max-height: 800px){
				height: 6.5%;
			}
			filter: Alpha(opacity=50);
			background-color: rgb(1, 1, 1);
			background-color: rgba(1, 1, 1, 0.5);
			span {
				font-size: 18px;
				font-family:lato, "Microsoft YaHei", "STXihei", "sans-serif";
				color: gray;
				line-height: 2.5;
			}
		}
	}
	.sider {
		position: fixed;
		right: 10px;
		top: 40%;
		z-index: 99;
		width: 27px;
		text-align: center;
		img {
			opacity: 0.8;
			cursor: pointer;
			&:hover{
				opacity: 1;
			}
		}
	}
	.next {
		bottom: 10px;
		position: fixed;
		left: 50%;
		margin-left:-17.5px;
		width: 50px;
		height: 30px;
		>img {
			cursor: pointer;
		}
	}
}