html, body {
	max-width: 838px;
	min-width: 280px !important;
	.divider{
		height: 16px;
	}
	#header {
		background-image: url(/dist/img/mobile/header.jpg);
		.content {
			top: 0 !important;
			width: 80%;
			height: 100%;
			.slogan {
				font-size: 22px;
			}
			.title {
				margin-top: 15%;
				width: 100%;
				height: 70px;
			}
			.introduce {
				margin-top: 0;
				height: 250px;
				.introduceBtn {
					margin-top: 25px;
					padding-top: 15px;
					float: left;
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	#whoAmI {
		background-image: url(/dist/img/mobile/whoAmI.jpg);
		.content {
			top: 0 !important;
			width: 80%;
			height: 100%;
			.upper {
				h2{
					margin-bottom: 4px;
				}
				height: 40%;
				p {
					margin-top: 5px;
					font-size: 15px;
				}
			}
			.down {
				height: 60%;
			}
			.introduce {
				margin-top: 35px;
				.introduceSection {
					img {
						width: 60px;
						height: 50px;
					}
					> p {
						margin-top: 10px;
						font-size: 10px;
					}
					> h3 {
						margin-top: 10px;
						font-size: 20px;
					}
				}
			}
		}
	}
	#whatTodo {
		background-image: url(/dist/img/mobile/whatTodo.jpg);
		.content {
			top: 0 !important;
			width: 80%;
			height: 100%;
			.upper {
				height: 40%;
				h2{
					padding-top:8.5%;
					margin-bottom: 4px;
				}
				> p {
					margin-top: 5px;
					font-size: 15px;
					line-height: normal;
				}
			}
			.down {
				height: 60%;
			}
			.introduce {
				margin-top: 10px;
				.introduceSection {
					img {
						width: 40px;
						height: 40px;
					}
					> p {
						margin-top: 10px;
						margin-bottom: 2px;
						font-size: 12px;
					}
				}
			}
		}
	}
	#howTodo {
		background-image: url(/dist/img/mobile/howTodo.jpg);
		.content {
			top: 0 !important;
			width: 80%;
			height: 100%;
			p {
				font-size: 15px;
				line-height:normal !important;
			}
			h2 {
				padding-top: 10%;
				margin-bottom: 4px;
			}
			.introduce {
				margin-top: 16%;
				img{
					width: 256px;
					height: auto;
				}
				.imgDesc{
					width: 256px;
					margin-left: auto;
					margin-right: auto;
					padding-left:0;
					margin-top:-40px;
					span{
						font-size: 16px;
						&:nth-child(2){
							margin-left:56px;
						}
						&:nth-child(3){
							margin-left:62px;
						}
					}
				}
			}
		}
	}
	#contact {
		background-image: url(/dist/img/mobile/contact.jpg);
		.content {
			width: 80%;
			height: 95%;
			padding-top: 1%;
			h2 {
				margin-bottom: 2px;
			}
			> p {
				margin-top: 1px;
				font-size: 15px;
				line-height:normal;
			}
			.introduce {
				margin-top: 1px;
				img{
					width: 90%;
					height:auto;
				}
				//.introduceBtn {
				//	margin-top: 5px;
				//	padding-top: 5px;
				//	width: 100%;
				//	> p {
				//		font-size: 10px;
				//
				//	}
				//	img {
				//		width: 40px;
				//		height: 40px;
				//	}
				//}
			}
		}
		.footer {
			width: 100%;
			height: 5%;
			span {
				font-size: 5px;
				color: gray;
				line-height: 2;
				letter-spacing: 0;
			}
		}
	}
	.next {
		bottom: 10px;
		left: 50%;
		width: 25px;
		height: 15px;
		img {
			margin-left:4px;
			width: 22px !important;
			height: 11px !important;
		}
	}
}