html,
body {
  font-family: "Microsoft YAHEI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}
html .slider,
body .slider {
  background-size: cover !important;
  background: no-repeat center center;
  height: 100% ;
  width: 100%;
  text-align: center;
  -ms-behavior: url(/dist/css/vendor/backgroundsize.min.htc);
}
html #header,
body #header {
  background-image: url(/dist/img/header/header.jpg);
}
html #header .content,
body #header .content {
  margin: 0 auto;
  position: relative;
  width: 800px;
}
html #header .content .title,
body #header .content .title {
  width: 404px;
  height: 118px;
}
html #header .content .slogan,
body #header .content .slogan {
  color: white;
  font-size: 30px;
  margin-top: 30px;
}
html #header .content .introduce,
body #header .content .introduce {
  margin-top: 40px;
  height: 100px;
  display: inline-block;
}
html #header .content .introduce .introduceBtn,
body #header .content .introduce .introduceBtn {
  padding-top: 15px;
  margin-left: 30px;
  float: left;
  width: 100px;
  height: 100%;
  background-color: #60616e;
  background-color: rgba(96, 97, 110, 0.5);
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
html #header .content .introduce .introduceBtn:first-child,
body #header .content .introduce .introduceBtn:first-child {
  margin-left: 0;
}
html #header .content .introduce .introduceBtn:hover,
body #header .content .introduce .introduceBtn:hover {
  cursor: pointer;
  background-color: #00A0EA !important;
  background-color: #00a0ea;
  filter: alpha(opacity=100);
}
html #header .content .introduce .introduceBtn > p,
body #header .content .introduce .introduceBtn > p {
  letter-spacing: 2px;
  color: white;
  padding-top: 5px;
}
html #whoAmI,
body #whoAmI {
  background-image: url(/dist/img/whoAmI/bg.jpg);
}
html #whoAmI .content,
body #whoAmI .content {
  margin: 0 auto;
  position: relative;
  width: 940px;
  height: 100%;
}
html #whoAmI .content .upper,
body #whoAmI .content .upper,
html #whoAmI .content .down,
body #whoAmI .content .down {
  height: 50%;
}
html #whoAmI .content h2,
body #whoAmI .content h2 {
  padding-top: 18.5%;
  color: white;
  font-weight: 800;
  margin-bottom: 32px;
}
@media screen and (max-height: 800px) {
  html #whoAmI .content h2,
  body #whoAmI .content h2 {
    padding-top: 11.5%;
  }
}
html #whoAmI .content p,
body #whoAmI .content p {
  margin-top: 25px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}
html #whoAmI .content .introduce,
body #whoAmI .content .introduce {
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
html #whoAmI .content .introduce .introduceSection,
body #whoAmI .content .introduce .introduceSection {
  float: left;
}
@media screen and (max-width: 1024px) {
  html #whoAmI .content .introduce .introduceSection > p,
  body #whoAmI .content .introduce .introduceSection > p {
    font-size: 16px;
  }
  html #whoAmI .content .introduce .introduceSection > h3,
  body #whoAmI .content .introduce .introduceSection > h3 {
    font-size: 24px;
  }
}
html #whoAmI .content .introduce .introduceSection > p,
body #whoAmI .content .introduce .introduceSection > p {
  color: black;
}
html #whoAmI .content .introduce .introduceSection > h3,
body #whoAmI .content .introduce .introduceSection > h3 {
  color: black;
  font-size: 28px;
  font-weight: 900;
}
html #whoAmI .content .introduce .introduceSection img,
body #whoAmI .content .introduce .introduceSection img {
  width: 120px;
  height: 100px;
}
html #whoAmI .content .introduce .introduceSection:first-child,
body #whoAmI .content .introduce .introduceSection:first-child {
  padding-left: 0;
}
html #whoAmI .content .introduce .introduceSection:last-child,
body #whoAmI .content .introduce .introduceSection:last-child {
  padding-right: 0;
}
html #whatTodo,
body #whatTodo {
  background-image: url(/dist/img/whatTodo/bg.jpg);
  width: 100%;
}
html #whatTodo .content,
body #whatTodo .content {
  margin: 0 auto;
  position: relative;
  width: 940px;
  height: 100%;
}
html #whatTodo .content .upper,
body #whatTodo .content .upper,
html #whatTodo .content .down,
body #whatTodo .content .down {
  height: 50%;
}
html #whatTodo .content h2,
body #whatTodo .content h2 {
  padding-top: 18.5%;
  color: white;
  font-weight: 800;
  margin-bottom: 25px;
}
@media screen and (max-height: 800px) {
  html #whatTodo .content h2,
  body #whatTodo .content h2 {
    padding-top: 11.5%;
  }
}
html #whatTodo .content p,
body #whatTodo .content p {
  margin-top: 25px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}
html #whatTodo .content .upper p,
body #whatTodo .content .upper p {
  margin-top: 16px;
  line-height: 40px;
}
html #whatTodo .content .introduce,
body #whatTodo .content .introduce {
  height: 100px;
  position: absolute;
  width: 100%;
  margin-top: 40px;
}
html #whatTodo .content .introduce .introduceSection,
body #whatTodo .content .introduce .introduceSection {
  float: left;
}
html #whatTodo .content .introduce .introduceSection > P,
body #whatTodo .content .introduce .introduceSection > P {
  color: black;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  html #whatTodo .content .introduce .introduceSection > P,
  body #whatTodo .content .introduce .introduceSection > P {
    font-size: 15px;
  }
}
html #whatTodo .content .introduce .introduceSection:first-child,
body #whatTodo .content .introduce .introduceSection:first-child {
  padding-left: 0 !important;
}
html #whatTodo .content .introduce .introduceSection:last-child,
body #whatTodo .content .introduce .introduceSection:last-child {
  padding-right: 0 !important;
}
html #whatTodo .content .introduce .introduceSection img,
body #whatTodo .content .introduce .introduceSection img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1376px) {
  html #whatTodo .content .introduce .introduceSection img,
  body #whatTodo .content .introduce .introduceSection img {
    width: 80px;
    height: 80px;
  }
}
html #howTodo,
body #howTodo {
  background-image: url(/dist/img/howTodo/bg.jpg);
  width: 100%;
}
html #howTodo .content,
body #howTodo .content {
  margin: 0 auto;
  position: relative;
  width: 940px;
  height: 100%;
}
html #howTodo .content .upper,
body #howTodo .content .upper,
html #howTodo .content .down,
body #howTodo .content .down {
  height: 50%;
}
html #howTodo .content h2,
body #howTodo .content h2 {
  color: white;
  font-weight: 800;
  margin-bottom: 25px;
  padding-top: 18.5%;
}
@media screen and (max-height: 800px) {
  html #howTodo .content h2,
  body #howTodo .content h2 {
    padding-top: 11.5%;
  }
}
html #howTodo .content p,
body #howTodo .content p {
  margin-top: 18px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}
html #howTodo .content .upper p,
body #howTodo .content .upper p {
  line-height: 40px;
}
html #howTodo .content .introduce,
body #howTodo .content .introduce {
  margin-top: 13%;
  height: 100px;
  width: 100%;
}
html #howTodo .content .introduce > img,
body #howTodo .content .introduce > img {
  width: 100%;
  height: 100px;
}
html #howTodo .content .introduce .imgDesc,
body #howTodo .content .introduce .imgDesc {
  padding-left: 5px;
  text-align: left;
  font-size: 28px;
  font-weight: 800;
}
html #howTodo .content .introduce .imgDesc span.connect,
body #howTodo .content .introduce .imgDesc span.connect,
html #howTodo .content .introduce .imgDesc span.law,
body #howTodo .content .introduce .imgDesc span.law {
  margin-left: 340px;
}
html #contact,
body #contact {
  background-image: url(/dist/img/contact/bg.jpg);
  width: 100%;
}
html #contact .content,
body #contact .content {
  margin: 0 auto;
  position: static;
  width: 942px;
}
@media all and (max-height: 800px) {
  html #contact .content,
  body #contact .content {
    height: 93.5%;
  }
}
html #contact .content h2,
body #contact .content h2 {
  color: white;
  font-weight: 800;
  margin-bottom: 25px;
}
html #contact .content p,
body #contact .content p {
  line-height: 40px;
  margin-top: 18px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}
html #contact .content .introduce,
body #contact .content .introduce {
  margin-top: 50px;
  width: 100%;
}
html #contact .content .introduce > p,
body #contact .content .introduce > p {
  opacity: 0.6;
  margin-top: 0;
}
@media all and (max-height: 830px) {
  html #contact .content .introduce,
  body #contact .content .introduce {
    margin-top: 15px;
  }
}
html #contact .content .introduce .introduceBtn,
body #contact .content .introduce .introduceBtn {
  padding-top: 20px;
  height: 100%;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
html #contact .content .introduce .introduceBtn img,
body #contact .content .introduce .introduceBtn img {
  width: 330px;
  height: 330px;
}
html #contact .content .introduce .introduceBtn #mailTo,
body #contact .content .introduce .introduceBtn #mailTo,
html #contact .content .introduce .introduceBtn #mailToText,
body #contact .content .introduce .introduceBtn #mailToText {
  cursor: pointer;
}
html #contact .content .introduce .introduceBtn > p,
body #contact .content .introduce .introduceBtn > p {
  margin-top: 10px;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
}
html #contact .footer,
body #contact .footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 5%;
  filter: alpha(opacity=50);
  background-color: #010101;
  background-color: rgba(1, 1, 1, 0.5);
}
@media all and (max-height: 800px) {
  html #contact .footer,
  body #contact .footer {
    height: 6.5%;
  }
}
html #contact .footer span,
body #contact .footer span {
  font-size: 18px;
  font-family: lato, "Microsoft YaHei", "STXihei", "sans-serif";
  color: gray;
  line-height: 2.5;
}
html .sider,
body .sider {
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 99;
  width: 27px;
  text-align: center;
}
html .sider img,
body .sider img {
  opacity: 0.8;
  cursor: pointer;
}
html .sider img:hover,
body .sider img:hover {
  opacity: 1;
}
html .next,
body .next {
  bottom: 10px;
  position: fixed;
  left: 50%;
  margin-left: -17.5px;
  width: 50px;
  height: 30px;
}
html .next > img,
body .next > img {
  cursor: pointer;
}
